body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 20px;
}

header {
    background-color: white;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 1rem;
    border-radius: 4px;
}

nav{
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content:space-between;
    align-items: center;
    
}

.logo {
    font-size: 1.5rem;
    font-weight: bold;
    color: #4caf50;
}

.menu {
    display: flex;
    list-style: none;
    gap: 2rem;
}
.menu a {
    text-decoration: none;
    color: black;
}
.btn-connexion {
    padding: 0.5rem 1rem;
    background-color: #4caf50;
    color: white !important;
    border-radius: 5px;

}

.presentation {
    background-color: rgba(234, 232, 232, 0.209);
    padding: 4rem 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    max-width: 1200px;
    margin: 0 auto;
}

.image-content{
    width: 100%;
    text-align: center;
    margin-top: 20px;
}
.main {
    position: relative;
    height: auto;
    overflow: visible;
}
.main-image {
   max-width: 100%;
   height: auto;
   display: block;
   margin: 0 auto;

}

.image-content{
   width:100%;
   text-align: center;
   height: auto;
   margin-bottom: 50px;
  
}

p {
    text-align: center;
}


.container {
    max-width: 600px;
    margin: auto;
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    color: #333;
}

h2 {
    color: #555;
}

form {
    margin-bottom: 20px;
}

input[type="text"],
input[type="password"],
input[type="date"] {
    width: 100%;
    padding: 10px;
    margin: 5px 0 15px 0;
    border: 1px solid #efe9e9;
    border-radius: 4px;
}

button {
    background-color: #28a745;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
}

button:hover {
    background-color: #218838;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin: 5px 0;
    padding: 10px;
    border-radius: 4px;
}