/* style.css */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

header {
    background-color: green;
    color: white;
    padding: 1rem;
    text-align: center;
}

/* pour les deux boutons accueil et connexion */

/* Style de base des liens */
.menu li a {
    display: flex;
    padding: 0.5rem 1.2rem;
    text-decoration: none;
    font-weight: 500;
    color: black;
    border-radius: 4px;
    transition: all 0.3s ease;
    background-color: transparent;
}

/* Style au survol */
.menu li a:hover {
    background-color: #f0f0f0;
    color: light green;
    transform: translateY(-2px);
}

.menu li a:hover::after {
    width: 100%;
}

.auth-container {
    max-width: 400px;
    margin: 2rem auto;
    padding: 2rem;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.form-group {
    margin-bottom: 1rem;
}

.form-group label {
    display: block;
    margin-bottom: 0.5rem;
}

.form-group input {
    width: 100%;
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.btn-primary {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 4px;
    cursor: pointer;
}

.btn-primary:hover {
    background-color: rgb(19, 135, 19);
}

/* bouton bas de page "déjà inscrit? connectez-vous" */
a {
    text-decoration: none;
    color: green;
}